/* Style for announcement banner. */

.announcement-content a {
  color: var(--color-link) !important;
}

body {
  --color-announcement-background: #DAD7D3;
  --color-announcement-text: var(--color-foreground-primary);
}

body[data-theme="dark"] {
  --color-announcement-background: #411934;
}

@media (prefers-color-scheme: dark) {
  body:not([data-theme="light"]) {
    --color-announcement-background: #411934;
  }
}
